
<footer class="footer" id="footer">
    <div class="uk-container">
        <div class="uk-grid-large uk-child-width-expand@s uk-flex-between uk-margin-medium-top" uk-grid>
            <div>
                <span style="color: #8C8780;">Version: 0.1</span>
            </div>
            <div class="uk-flex uk-flex-right">
                2022 © Kruk 
            </div>
        </div>    
    </div>
</footer>

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.14.3/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.14.3/dist/js/uikit-icons.min.js"></script>

    <!-- <script>
        const links = document.getElementsByTagName("a");
        for (var i = 0; i < links.length; i++) {
            console.log(links[i].origin + '/' + 'en' + links[i].pathname);
        }
    </script> -->

    <!-- <script src="https://cdn.socket.io/4.5.0/socket.io.min.js" integrity="sha384-7EyYLQZgWBi67fBtVxw60/OWl1kjsfrPFcaU0pp0nAh+i8FD068QogUvg85Ewy1k" crossorigin="anonymous"></script>
    <script>
        const socket = io();
        socket.emit("hello", "world");
    </script> -->
    </body>
</html>