<%- include('../partials/header') -%>

<%- body %>

<footer class="footer" id="footer">
    <div class="uk-container">
        <div class="uk-grid-large uk-child-width-expand@s uk-flex-center uk-flex uk-text-center uk-margin-medium-top" uk-grid>
            <div>
                2022 © Kruk 
            </div>
        </div>    
    </div>
</footer>

<!-- UIkit JS -->
<script src="https://cdn.jsdelivr.net/npm/uikit@3.14.3/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.14.3/dist/js/uikit-icons.min.js"></script>