@font-face {
  font-family: 'Sora-Bold';
  /*a name to be used later*/
  src: url("fonts/Sora-Bold.otf");
  /*URL to font*/
}

@font-face {
  font-family: 'Sora-Bold-Italic';
  /*a name to be used later*/
  src: url("fonts/Sora-BoldItalic.otf");
  /*URL to font*/
}

@font-face {
  font-family: 'Sora-ExtraBold';
  /*a name to be used later*/
  src: url("fonts/Sora-ExtraBold.otf");
  /*URL to font*/
}

@font-face {
  font-family: 'Sora-ExtraBold-Italic';
  /*a name to be used later*/
  src: url("fonts/Sora-ExtraBoldItalic.otf");
  /*URL to font*/
}

@font-face {
  font-family: 'Sora-ExtraLight';
  /*a name to be used later*/
  src: url("fonts/Sora-ExtraLight.otf");
  /*URL to font*/
}

@font-face {
  font-family: 'Sora-ExtraLight-Italic';
  /*a name to be used later*/
  src: url("fonts/Sora-ExtraLightItalic.otf");
  /*URL to font*/
}

@font-face {
  font-family: 'Sora-Italic';
  /*a name to be used later*/
  src: url("fonts/Sora-Italic.otf");
  /*URL to font*/
}

@font-face {
  font-family: 'Sora-Light';
  /*a name to be used later*/
  src: url("fonts/Sora-Light.otf");
  /*URL to font*/
}

@font-face {
  font-family: 'Sora-Light-Italic';
  /*a name to be used later*/
  src: url("fonts/Sora-LightItalic.otf");
  /*URL to font*/
}

@font-face {
  font-family: 'Sora-Medium';
  /*a name to be used later*/
  src: url("fonts/Sora-Medium.otf");
  /*URL to font*/
}

@font-face {
  font-family: 'Sora-Medium-Italic';
  /*a name to be used later*/
  src: url("fonts/Sora-MediumItalic.otf");
  /*URL to font*/
}

@font-face {
  font-family: 'Sora-Regular';
  /*a name to be used later*/
  src: url("fonts/Sora-Regular.otf");
  /*URL to font*/
}

@font-face {
  font-family: 'Sora-SemiBold';
  /*a name to be used later*/
  src: url("fonts/Sora-SemiBold.otf");
  /*URL to font*/
}

@font-face {
  font-family: 'Sora-SemiBold-Italic';
  /*a name to be used later*/
  src: url("fonts/Sora-SemiBoldItalic.otf");
  /*URL to font*/
}

@font-face {
  font-family: 'Sora-Thin';
  /*a name to be used later*/
  src: url("fonts/Sora-Thin.otf");
  /*URL to font*/
}

@font-face {
  font-family: 'Sora-Thin-Italic';
  /*a name to be used later*/
  src: url("fonts/Sora-ThinItalic.otf");
  /*URL to font*/
}

body {
  font-family: 'Sora-SemiBold', sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: #CAC2B7;
  color: black;
}

.uk-h1, .uk-h2, .uk-h3, .uk-h4, .uk-h5, .uk-h6, .uk-heading-2xlarge, .uk-heading-large, .uk-heading-medium, .uk-heading-small, .uk-heading-xlarge {
  font-family: 'Sora-SemiBold', sans-serif;
  color: black;
}

h1, h2, h3, h4, h5, h6 {
  color: black;
}

h1 {
  font-size: 96px;
  font-family: 'Sora-Bold', sans-serif;
}

h2 {
  font-size: 60px;
  font-family: 'Sora-Bold', sans-serif;
}

h3 {
  font-size: 48px;
  font-family: 'Sora-SemiBold', sans-serif;
}

h4 {
  font-size: 34px;
  font-family: 'Sora-SemiBold', sans-serif;
  letter-spacing: 0.25px;
}

h5 {
  font-size: 24px;
  font-family: 'Sora-Medium', sans-serif;
}

h6 {
  font-size: 20px;
  font-family: 'Sora-Medium', sans-serif;
}

.sub-1 {
  font-size: 16px;
  font-family: 'Sora-SemiBold', sans-serif;
  letter-spacing: 0.15px;
}

.sub-2 {
  font-size: 14px;
  font-family: 'Sora-SemiBold', sans-serif;
  letter-spacing: 0.15px;
}

.body-1 {
  font-size: 16px;
  font-family: 'Sora-SemiBold', sans-serif;
  letter-spacing: 0.5px;
}

.body-2 {
  font-size: 14px;
  font-family: 'Sora-SemiBold', sans-serif;
  letter-spacing: 0.5px;
}

.button-text {
  font-size: 14px;
  font-family: 'Sora-SemiBold', sans-serif;
  letter-spacing: 1.25px;
}

.caption {
  font-size: 12px;
  font-family: 'Sora-SemiBold', sans-serif;
  letter-spacing: 0.4px;
}

.overline {
  font-size: 10px;
  font-family: 'Sora-SemiBold', sans-serif;
  letter-spacing: 1.5px;
}

a:hover {
  color: black;
}

.uk-button:active, .uk-button-primary.uk-active, .uk-button-primary:active {
  background: transparent;
}

.uk-button:active:hover:after, .uk-button-primary.uk-active:hover:after, .uk-button-primary:active:hover:after {
  -webkit-transform: scale(0.96);
          transform: scale(0.96);
}

.uk-button {
  padding: 20px 30px;
  position: relative;
  border-radius: 100px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  letter-spacing: 1.25px;
  line-height: unset;
  text-align: center;
  color: white;
  background: transparent;
  z-index: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.uk-button span {
  margin-right: 8px;
}

.uk-button-default {
  color: black;
  border: none;
  -webkit-box-shadow: inset 0px 0px 0px 2px #ADA599;
  box-shadow: inset 0px 0px 0px 2px #ADA599;
  -webkit-transition: 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.uk-button-default:hover {
  -webkit-box-shadow: inset 0px 0px 0px 3px #ADA599;
  box-shadow: inset 0px 0px 0px 3px #ADA599;
}

.uk-button-default:active {
  -webkit-transform: scale(0.96);
          transform: scale(0.96);
}

.uk-button-small {
  padding: 15px 20px;
}

.dropdown-full {
  width: 300px !important;
}

.uk-button-dropdown {
  background: transparent;
  color: black;
}

.uk-button-dropdown:after {
  content: '';
  background: white;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 100px;
  width: 100%;
  height: 100%;
  z-index: -1;
  -webkit-transition: 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.uk-button-dropdown:hover {
  background: transparent;
  -webkit-transition: 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.uk-button-dropdown:hover:after {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.uk-button-dropdown span.material-symbols-outlined {
  color: #F7434E;
}

.uk-button-primary {
  background: transparent;
}

.uk-button-primary:after {
  content: '';
  background: #F7434E;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 100px;
  width: 100%;
  height: 100%;
  z-index: -1;
  -webkit-transition: 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.uk-button-primary:hover {
  background: transparent;
  -webkit-transition: 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.uk-button-primary:hover:after {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.uk-button-secondary {
  background: transparent;
}

.uk-button-secondary:after {
  content: '';
  background: black;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 100px;
  width: 100%;
  height: 100%;
  z-index: -1;
  -webkit-transition: 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.uk-button-secondary:hover {
  background: transparent;
  -webkit-transition: 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.uk-button-secondary:hover:after {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.uk-button-third {
  background: transparent;
}

.uk-button-third:after {
  content: '';
  background: #4E2FA1;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 100px;
  width: 100%;
  height: 100%;
  z-index: -1;
  -webkit-transition: 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.uk-button-third:hover {
  background: transparent;
  -webkit-transition: 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.uk-button-third:hover:after {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.uk-button-border {
  background: transparent;
  color: black;
}

.uk-button-border:after {
  content: '';
  background: transparent;
  -webkit-box-shadow: inset 0px 0px 0px 2px #ADA599;
          box-shadow: inset 0px 0px 0px 2px #ADA599;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 100px;
  width: 100%;
  height: 100%;
  z-index: -1;
  -webkit-transition: 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.uk-button-border:hover {
  background: transparent;
  -webkit-transition: 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.uk-button-border:hover:after {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.uk-button-border-light {
  background: transparent;
  color: #CAC2B7;
}

.uk-button-border-light:after {
  content: '';
  background: transparent;
  -webkit-box-shadow: inset 0px 0px 0px 2px #373737;
          box-shadow: inset 0px 0px 0px 2px #373737;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 100px;
  width: 100%;
  height: 100%;
  z-index: -1;
  -webkit-transition: 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.uk-button-border-light:hover {
  background: transparent;
  -webkit-transition: 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  color: black;
}

.uk-button-border-light:hover:after {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.uk-alert {
  border-radius: 20px;
  padding: 8px;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.uk-alert p {
  margin: unset;
}

.uk-alert-danger {
  background: white;
  color: #F7434E;
}

.uk-alert-hide {
  display: none;
  opacity: 0;
  visibility: hidden;
}

.uk-input-danger {
  -webkit-box-shadow: inset 0px 0px 0px 2px #F7434E;
          box-shadow: inset 0px 0px 0px 2px #F7434E;
}

.alert-icon {
  min-width: 50px;
  height: 50px;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 15px;
}

.alert-icon-danger {
  background: #F7434E;
  color: white;
}

.uk-card-box {
  padding: 35px;
  border-radius: 20px;
  background: white;
}

.password-toggler {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: absolute;
  right: 12px;
  top: 10px;
  padding: 8px;
  border-radius: 10px;
}

.password-toggler:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
}

.uk-alert-close {
  right: 25px;
  top: 16px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #ECE8E3 inset !important;
}

.uk-notification {
  width: 450px;
}

.uk-notification-message {
  border-radius: 20px;
  font-size: 16px;
  padding: 12px 25px 12px 12px;
}

.uk-notification-close {
  top: 25px;
}

.uk-notification-message:hover .uk-notification-close {
  display: none;
  opacity: 0;
  visibility: hidden;
}

.uk-input, .uk-select, .uk-textarea {
  color: #0f1419;
  font-family: 'Sora-Medium', sans-serif;
  border-radius: 10px;
  padding: 18px 28px;
  border: 0px;
  font-size: 16px;
  color: #83807C;
  height: unset;
  background-color: #ECE8E3;
  width: 100%;
}

.uk-input::-webkit-input-placeholder, .uk-select::-webkit-input-placeholder, .uk-textarea::-webkit-input-placeholder {
  color: #83807C;
}

.uk-input:-ms-input-placeholder, .uk-select:-ms-input-placeholder, .uk-textarea:-ms-input-placeholder {
  color: #83807C;
}

.uk-input::-ms-input-placeholder, .uk-select::-ms-input-placeholder, .uk-textarea::-ms-input-placeholder {
  color: #83807C;
}

.uk-input::placeholder, .uk-select::placeholder, .uk-textarea::placeholder {
  color: #83807C;
}

.uk-input:focus, .uk-select:focus, .uk-textarea:focus {
  color: #0f1419;
  background-color: #e4dcd4;
}

.uk-select {
  padding: 0 10px;
}

.uk-form-danger::-webkit-input-placeholder {
  color: #F7434E;
}

.uk-form-danger:-ms-input-placeholder {
  color: #F7434E;
}

.uk-form-danger::-ms-input-placeholder {
  color: #F7434E;
}

.uk-form-danger::placeholder {
  color: #F7434E;
}

.uk-form-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  font-size: 16px;
  font-family: 'Sora-Medium';
  margin-bottom: 6px;
  color: black;
}

.uk-navbar-nav {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
}

.uk-navbar-nav li {
  width: 100%;
}

.uk-card-default {
  background: #F5F5F5;
}

.uk-navbar {
  height: calc(100% + 160px);
  max-height: 700px;
  margin-top: -160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  border-radius: 20px;
  padding: 10px;
  background: #F5F5F5;
  color: #0f1419;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.uk-navbar .login-logo {
  padding: 20px;
}

.uk-navbar ul li a {
  color: #0f1419;
  font-weight: 600;
  min-height: 0;
  padding: 12px 20px;
  border-radius: 10px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
  font-size: 16px;
  font-family: 'Sora-SemiBold', sans-serif;
  letter-spacing: 0.15px;
}

.uk-navbar ul li a span.circle-url {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #F7434E;
  position: absolute;
  left: 6px;
  top: 21px;
}

.uk-navbar ul li a span.material-symbols-outlined {
  margin-right: 6px;
  color: #F7434E;
}

.uk-navbar ul li a:hover {
  background: #EEE9E3;
}

.uk-navbar-dropdown-nav li a {
  color: #0f1419;
  font-weight: 600;
  min-height: 0;
  padding: 12px 20px;
  border-radius: 10px;
  font-size: 16px;
  font-family: 'Sora-SemiBold', sans-serif;
}

.uk-navbar-dropdown-nav li a:hover {
  background: #EEE9E3;
}

.uk-navbar-dropdown {
  padding: 12px;
  width: 250px;
  border-radius: 20px;
}

header.header {
  height: 190px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #F7434E;
}

.logo-small {
  display: none;
  opacity: 0;
  visibility: hidden;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
  visibility: visible;
}

section.boxes .box-menu {
  padding: 30px;
  border-radius: 20px;
  background: #F5F5F5;
}

section.boxes .box-menu a {
  margin-top: 30px;
}

section.boxes .box-projects-text,
section.boxes .box-users-text {
  font-size: 24px;
  font-family: 'Sora-Medium', sans-serif;
}

section.boxes .box-projects-title,
section.boxes .box-users-title {
  font-size: 60px;
  font-family: 'Sora-Bold', sans-serif;
  line-height: 1;
}

.box-projects-icon,
.box-icon,
.box-projects-title {
  color: #F7434E;
}

.box-users-icon,
.box-users-title {
  color: #4E2FA1;
}

.box-projects-icon,
.box-icon,
.box-users-icon {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 70px;
  padding: 0;
  height: 70px;
  border-radius: 50%;
  background: #ECE8E3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
}

.box-projects-icon span,
.box-icon span,
.box-users-icon span {
  font-size: 30px;
}

.box-icon {
  background: white;
}

footer.footer {
  font-size: 12px;
  padding-bottom: 20px;
}

.search-button {
  position: absolute;
  right: 5px;
  top: 3px;
}

.uk-select, .uk-select:not([multiple]):not([size]) {
  padding: 0 28px;
  height: 60px;
}

.middle-box {
  padding: 20px;
  background: white;
  border-radius: 20px;
}

.uk-card {
  border-radius: 20px;
  word-break: break-word;
}

.uk-card p {
  color: #F7434E;
}

.uk-modal-body {
  border-radius: 20px;
}

.uk-modal-title {
  font-family: 'Sora-Medium', sans-serif;
}

.user-modal-email, .user-modal-id, .user-modal-date {
  font-family: 'Sora-Regular', sans-serif;
  margin: 0;
}

.user-modal-text {
  padding: 15px;
  border-radius: 10px;
  background: #ECE8E3;
  margin: 0;
  margin-bottom: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-modal-text span {
  margin-right: 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #F7434E;
}

.uk-card-calendar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.uk-card-calendar span {
  font-size: 1.5rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #F7434E;
  margin-right: 5px;
}

.lang-box {
  position: absolute;
  top: -75px;
}

.menu-box {
  display: none;
  visibility: hidden;
  position: absolute;
  top: -75px;
  right: 0;
  text-transform: uppercase;
}

.uk-card-icon {
  width: 76px;
  height: 76px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  background: white;
  margin-right: 15px;
}

.uk-card-icon span {
  font-size: 36px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #F7434E;
}

.uk-card-icon-box:nth-child(2) {
  margin-left: 40px;
}

.uk-card-icon-text h4 {
  line-height: 1;
  margin: 0;
  color: #F7434E;
}

.uk-pagination li {
  margin-right: 5px;
}

.uk-pagination li a {
  padding: 10px 15px;
  border-radius: 10px;
  background: transparent;
  color: white;
  position: relative;
  z-index: 1;
}

.uk-pagination li a:active:hover:after {
  -webkit-transform: scale(0.96);
          transform: scale(0.96);
}

.uk-pagination li a:after {
  content: '';
  background: black;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  z-index: -1;
  -webkit-transition: 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.uk-pagination li a:hover {
  -webkit-transition: 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.uk-pagination li a:hover:after {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

@-webkit-keyframes append-animate {
  from {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes append-animate {
  from {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

.uk-badge-item {
  padding: 10px 20px;
  background: black;
  font-family: 'Sora-Medium', sans-serif;
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  font-size: 12px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  -webkit-animation: append-animate 0.5s cubic-bezier(0.19, 1, 0.22, 1);
          animation: append-animate 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.uk-badge-item span {
  margin-left: 5px;
  color: #CAC2B7;
}

.uk-badge-item span:hover {
  cursor: pointer;
}

.uk-badges-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
}

.uk-placeholder {
  border-radius: 20px;
  padding: 30px 30px;
  background: 0 0;
  border: 2px dashed #ded9d3;
  font-family: 'Sora-Medium', sans-serif;
  -webkit-transition: 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  margin-bottom: 0;
}

.uk-placeholder span.material-symbols-outlined {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 70px;
  padding: 0;
  height: 70px;
  border-radius: 50%;
  background: #ECE8E3;
  margin: 0px auto;
  margin-bottom: 20px;
}

.uk-placeholder.active {
  background: #fff;
  border: 2px solid #fff;
  -webkit-box-shadow: 0px 5px 10px #cac2b75c;
          box-shadow: 0px 5px 10px #cac2b75c;
  -webkit-transition: 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.uk-link {
  color: #F7434E;
}

.uk-link:hover {
  cursor: pointer;
}

.uk-progress::-webkit-progress-value {
  background: #F7434E;
}

.image-preview {
  max-height: 200px;
  width: 100%;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  background: #CAC2B7;
  padding: 10px;
}

.images-preview {
  display: none;
  margin-top: 20px;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.images-preview.active {
  display: -ms-grid;
  display: grid;
}

.uk-sortable-placeholder {
  opacity: 0;
}

.uk-sortable-drag {
  opacity: 0.8;
}

.image-preview-box {
  position: relative;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.image-preview-box:hover {
  cursor: -webkit-grab;
  cursor: grab;
}

.image-preview-box:hover .image-preview-icon-container {
  background: #cac2b742;
}

.image-preview-box:hover span {
  opacity: 1;
}

.image-preview-box span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50px;
  height: 50px;
  opacity: 0;
  -webkit-transition: 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  background: #CAC2B7;
  border-radius: 50%;
  color: #F7434E;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.image-preview-box span:hover {
  cursor: pointer;
}

.image-preview-icon-container {
  -webkit-transition: 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.js-upload-error {
  border: 2px solid #F7434E;
}

.project-thumbnail {
  height: 230px;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 10px;
}

.project-thumbnail img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.spinner {
  margin-left: 8px;
  width: 22px;
  display: none;
  opacity: 0;
}

.spinner.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
}

.uk-spinner > * > * {
  stroke-width: 2;
}

@media screen and (max-width: 960px) {
  .uk-container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .uk-grid {
    margin-left: -20px;
  }
  .uk-grid > * {
    padding-left: 20px;
  }
  section.boxes .box-projects-title, section.boxes .box-users-title {
    font-size: 40px;
  }
  section.boxes .box-projects-text, section.boxes .box-users-text {
    font-size: 20px;
  }
  .box-projects-icon, .box-icon, .box-users-icon {
    width: 60px;
    height: 60px;
  }
  .box-projects-icon span, .box-icon span, .box-users-icon span {
    font-size: 25px;
  }
  section.boxes .box-menu, .uk-card-box {
    padding: 20px;
  }
  .uk-button {
    padding: 15px 22px;
    font-size: 12px;
  }
  .uk-input, .uk-select, .uk-textarea {
    padding: 15px 22px;
  }
  .uk-select, .uk-select:not([multiple]):not([size]) {
    height: 54px;
    padding: 0 22px;
  }
  footer.footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 1.5vw;
    text-align: center;
  }
  .uk-menu-text {
    display: none;
    opacity: 0;
    visibility: hidden;
  }
  .uk-navbar ul li a span.material-symbols-outlined {
    margin-right: 0;
  }
  .uk-navbar ul li a {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .uk-navbar-dropdown ul li a {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media screen and (max-width: 1024px) {
  .uk-navbar .login-logo {
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .logo {
    display: none;
    opacity: 0;
    visibility: hidden;
  }
  .logo-small {
    height: 8vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    opacity: 1;
    visibility: visible;
  }
}

@media screen and (max-width: 640px) {
  h2 {
    font-size: 36px;
  }
  .menu-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    visibility: visible;
  }
  .uk-card-box .uk-flex-wrap .uk-button,
  .uk-flex-wrap .uk-button {
    width: 100%;
  }
  .uk-card-box .uk-flex-wrap .uk-button:last-child,
  .uk-flex-wrap .uk-button:last-child {
    margin-top: 5px;
    margin-left: 0px !important;
  }
  .uk-alert {
    padding: 5px;
    font-size: 12px;
  }
  .alert-icon {
    min-width: 40px;
    height: 40px;
    margin-right: 8px;
  }
  .material-symbols-outlined {
    font-size: 22px;
  }
  .uk-badge-item {
    padding: 8px 13px;
  }
  .uk-placeholder {
    padding: 20px 20px;
    font-size: 14px;
  }
  .uk-badges-container {
    gap: 5px;
  }
  .alert-tools + button {
    margin-left: 10px !important;
  }
  .images-preview {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    margin-top: 10px;
  }
  .image-preview {
    padding: 5px;
  }
  .uk-card-small .uk-card-body, .uk-card-small.uk-card-body, section.boxes .box-menu, .uk-card-box {
    padding: 15px 15px;
  }
  header.header {
    height: 120px;
  }
  .uk-modal-body {
    padding: 20px 20px;
  }
  .user-modal-text {
    padding: 10px;
  }
  .user-modal-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  .user-modal-date, .user-modal-email, .user-modal-id {
    font-size: 13px;
    font-family: 'Sora-SemiBold', sans-serif;
  }
  .uk-card-body > :last-child, .uk-card-footer > :last-child, .uk-card-header > :last-child {
    width: 100%;
    margin-top: 15px;
  }
  .uk-card-body > :last-child a, .uk-card-footer > :last-child a, .uk-card-header > :last-child a {
    width: 100%;
  }
  .uk-card-body > :last-child a:nth-child(2), .uk-card-footer > :last-child a:nth-child(2), .uk-card-header > :last-child a:nth-child(2) {
    margin-top: 5px;
    margin-left: 0px !important;
  }
  .user-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .user-box div:nth-child(2) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .user-box h5 {
    font-size: 20px;
  }
  .user-box p {
    font-size: .775rem;
  }
  .boxes > div:nth-child(2) {
    margin-top: 15px;
  }
  * + .uk-grid-margin, .uk-grid + .uk-grid, .uk-grid > .uk-grid-margin {
    margin-top: 15px;
  }
  * + .uk-grid-margin:last-child .uk-card, .uk-grid + .uk-grid:last-child .uk-card, .uk-grid > .uk-grid-margin:last-child .uk-card {
    margin-bottom: 20px;
  }
  footer.footer, nav.uk-navbar {
    display: none;
    opacity: 0;
    visibility: hidden;
  }
  .uk-navbar-dropdown-nav li.dropdown-second a {
    font-size: .820rem;
    color: #F7434E;
  }
}

@media screen and (max-width: 425px) {
  h3, h2 {
    font-size: 10vw;
  }
  .uk-modal-title {
    font-size: 7vw;
  }
}
/*# sourceMappingURL=style.css.map */