$primary: #F7434E;
$secondary: #CAC2B7;
$light-secondary: #ECE8E3;
$light-grey: #F5F5F5;
$black: black;
$additional: #4E2FA1;
$text: rgb(15, 20, 25);
$animation: .5s cubic-bezier(.19,1,.22,1);

// Fonts
@font-face {
    font-family: 'Sora-Bold'; /*a name to be used later*/
    src: url('fonts/Sora-Bold.otf'); /*URL to font*/
}
@font-face {
    font-family: 'Sora-Bold-Italic'; /*a name to be used later*/
    src: url('fonts/Sora-BoldItalic.otf'); /*URL to font*/
}
@font-face {
    font-family: 'Sora-ExtraBold'; /*a name to be used later*/
    src: url('fonts/Sora-ExtraBold.otf'); /*URL to font*/
}
@font-face {
    font-family: 'Sora-ExtraBold-Italic'; /*a name to be used later*/
    src: url('fonts/Sora-ExtraBoldItalic.otf'); /*URL to font*/
}
@font-face {
    font-family: 'Sora-ExtraLight'; /*a name to be used later*/
    src: url('fonts/Sora-ExtraLight.otf'); /*URL to font*/
}
@font-face {
    font-family: 'Sora-ExtraLight-Italic'; /*a name to be used later*/
    src: url('fonts/Sora-ExtraLightItalic.otf'); /*URL to font*/
}
@font-face {
    font-family: 'Sora-Italic'; /*a name to be used later*/
    src: url('fonts/Sora-Italic.otf'); /*URL to font*/
}
@font-face {
    font-family: 'Sora-Light'; /*a name to be used later*/
    src: url('fonts/Sora-Light.otf'); /*URL to font*/
}
@font-face {
    font-family: 'Sora-Light-Italic'; /*a name to be used later*/
    src: url('fonts/Sora-LightItalic.otf'); /*URL to font*/
}
@font-face {
    font-family: 'Sora-Medium'; /*a name to be used later*/
    src: url('fonts/Sora-Medium.otf'); /*URL to font*/
}
@font-face {
    font-family: 'Sora-Medium-Italic'; /*a name to be used later*/
    src: url('fonts/Sora-MediumItalic.otf'); /*URL to font*/
}
@font-face {
    font-family: 'Sora-Regular'; /*a name to be used later*/
    src: url('fonts/Sora-Regular.otf'); /*URL to font*/
}
@font-face {
    font-family: 'Sora-SemiBold'; /*a name to be used later*/
    src: url('fonts/Sora-SemiBold.otf'); /*URL to font*/
}
@font-face {
    font-family: 'Sora-SemiBold-Italic'; /*a name to be used later*/
    src: url('fonts/Sora-SemiBoldItalic.otf'); /*URL to font*/
}
@font-face {
    font-family: 'Sora-Thin'; /*a name to be used later*/
    src: url('fonts/Sora-Thin.otf'); /*URL to font*/
}
@font-face {
    font-family: 'Sora-Thin-Italic'; /*a name to be used later*/
    src: url('fonts/Sora-ThinItalic.otf'); /*URL to font*/
}

body {
    font-family: 'Sora-SemiBold', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: $secondary;
    color: $black;
}

.uk-h1, .uk-h2, .uk-h3, .uk-h4, .uk-h5, .uk-h6, .uk-heading-2xlarge, .uk-heading-large, .uk-heading-medium, .uk-heading-small, .uk-heading-xlarge {
    font-family: 'Sora-SemiBold', sans-serif;
    color: $black;
}
h1,h2,h3,h4,h5,h6 {
    color: $black;
}
h1 {
    font-size: 96px;
    font-family: 'Sora-Bold', sans-serif;
}
h2 {
    font-size: 60px;
    font-family: 'Sora-Bold', sans-serif;
}
h3 {
    font-size: 48px;
    font-family: 'Sora-SemiBold', sans-serif;
}
h4 {
    font-size: 34px;
    font-family: 'Sora-SemiBold', sans-serif;
    letter-spacing: 0.25px;
}
h5 {
    font-size: 24px;
    font-family: 'Sora-Medium', sans-serif;
}
h6 {
    font-size: 20px;
    font-family: 'Sora-Medium', sans-serif;
}
.sub-1 {
    font-size: 16px;
    font-family: 'Sora-SemiBold', sans-serif;  
    letter-spacing: 0.15px; 
}
.sub-2 {
    font-size: 14px;
    font-family: 'Sora-SemiBold', sans-serif;  
    letter-spacing: 0.15px; 
}
.body-1 {
    font-size: 16px;
    font-family: 'Sora-SemiBold', sans-serif;  
    letter-spacing: 0.5px; 
}
.body-2 {
    font-size: 14px;
    font-family: 'Sora-SemiBold', sans-serif;  
    letter-spacing: 0.5px; 
}
.button-text {
    font-size: 14px;
    font-family: 'Sora-SemiBold', sans-serif;  
    letter-spacing: 1.25px; 
}
.caption {
    font-size: 12px;
    font-family: 'Sora-SemiBold', sans-serif;  
    letter-spacing: 0.4px; 
}
.overline {
    font-size: 10px;
    font-family: 'Sora-SemiBold', sans-serif;  
    letter-spacing: 1.5px; 
}

a:hover {
    color: $black;
}

//////////////////////////////////////////////////////////////////////////////////////////////

.uk-button:active, .uk-button-primary.uk-active, .uk-button-primary:active {
    background: transparent;
    &:hover {
        &:after {
            transform: scale(0.96);
        }
    }
}
.uk-button {
    padding: 20px 30px;
    position: relative;
    border-radius: 100px;
    display: inline-flex;
    align-items: center;
    font-size: 14px;
    letter-spacing: 1.25px;
    line-height: unset;
    text-align: center;
    color: white;
    background: transparent;
    z-index: 1;
    justify-content: center;
    text-align: center;

    span {
        margin-right: 8px;
    }
}
.uk-button-default {
    color: $black;
    border: none;
    -webkit-box-shadow:inset 0px 0px 0px 2px #ADA599;
    -moz-box-shadow:inset 0px 0px 0px 2px #ADA599;
    box-shadow:inset 0px 0px 0px 2px #ADA599;
    transition: $animation;

    &:hover {
        -webkit-box-shadow:inset 0px 0px 0px 3px #ADA599;
        -moz-box-shadow:inset 0px 0px 0px 3px #ADA599;
        box-shadow:inset 0px 0px 0px 3px #ADA599;
    }
    &:active {
        transform: scale(0.96);
    }
}
.uk-button-small {
    padding: 15px 20px;
}
.uk-button-dropdown {
    background: transparent;
    color: $black;
    &:after {
        content: '';
        background: white;
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        border-radius: 100px;
        width: 100%;
        height: 100%;
        z-index: -1;
        transition: $animation;
    }
    &:hover {
        background: transparent;
        transition: $animation;
        &:after {
            transform: scale(1.05);
        }
    }

    span.material-symbols-outlined {
        color: $primary;
    }
}
.uk-button-primary {
    background: transparent;
    &:after {
        content: '';
        background: $primary;
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        border-radius: 100px;
        width: 100%;
        height: 100%;
        z-index: -1;
        transition: $animation;
    }
    &:hover {
        background: transparent;
        transition: $animation;
        &:after {
            transform: scale(1.05);
        }
    }
}
.uk-button-secondary {
    background: transparent;
    &:after {
        content: '';
        background: $black;
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        border-radius: 100px;
        width: 100%;
        height: 100%;
        z-index: -1;
        transition: $animation;
    }
    &:hover {
        background: transparent;
        transition: $animation;
        &:after {
            transform: scale(1.05);
        }
    }
}
.uk-button-third {
    background: transparent;
    &:after {
        content: '';
        background: $additional;
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        border-radius: 100px;
        width: 100%;
        height: 100%;
        z-index: -1;
        transition: $animation;
    }
    &:hover {
        background: transparent;
        transition: $animation;
        &:after {
            transform: scale(1.05);
        }
    }
}
.uk-button-border {
    background: transparent;
    color: $black;
    &:after {
        content: '';
        background: transparent;
        box-shadow:inset 0px 0px 0px 2px #ADA599;
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        border-radius: 100px;
        width: 100%;
        height: 100%;
        z-index: -1;
        transition: $animation;
    }
    &:hover {
        background: transparent;
        transition: $animation;
        &:after {
            transform: scale(1.05);
        }
    }
}
.uk-button-border-light {
    background: transparent;
    color: $secondary;
    &:after {
        content: '';
        background: transparent;
        box-shadow:inset 0px 0px 0px 2px #373737;
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        border-radius: 100px;
        width: 100%;
        height: 100%;
        z-index: -1;
        transition: $animation;
    }
    &:hover {
        background: transparent;
        transition: $animation;
        color: $black;
        &:after {
            transform: scale(1.05);
        }
    }
}

.uk-alert {
    border-radius: 20px;
    padding: 8px;
    font-size: 14px;
    display: flex;
    align-items: center;

    p {
        margin: unset;
    }
}
.uk-alert-danger {
    background: white;
    color: $primary;
}
.uk-alert-hide {
    display: none;
    opacity: 0;
    visibility: hidden;
}
.uk-input-danger {
    box-shadow: inset 0px 0px 0px 2px $primary;
}
.alert-icon {
    min-width: 50px;
    height: 50px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    user-select: none;
    justify-content: center;
    margin-right: 15px;
}
.alert-icon-danger {
    background: $primary;
    color: white;
}
.uk-card-box {
    padding: 35px;
    border-radius: 20px;
    background: white;
}
.password-toggler {
    user-select: none;
    position: absolute;
    right: 12px;
    top: 10px;
    padding: 8px;
    border-radius: 10px;

    &:hover {
        cursor: pointer;
        background-color: rgba(0,0,0,0.1);
    };
}
.uk-alert-close {
    right: 25px;
    top: 16px;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px $light-secondary inset !important;
}
.uk-notification {
    width: 450px;
}
.uk-notification-message {
    border-radius: 20px;
    font-size: 16px;
    padding: 12px 25px 12px 12px;
}
.uk-notification-close {
    top: 25px;
}
.uk-notification-message:hover .uk-notification-close {
    display: none;
    opacity: 0;
    visibility: hidden;
}
.uk-input, .uk-select, .uk-textarea {
    color: $text;
    font-family: 'Sora-Medium', sans-serif;
    border-radius: 10px;
    padding: 18px 28px;
    border: 0px;
    font-size: 16px;
    color: #83807C;
    height: unset;
    background-color: $light-secondary;
    width: 100%;

    &::placeholder {
        color: #83807C;
    }
    &:focus {
        color: $text;
        background-color: #e4dcd4;
    }
}
.uk-select {
    padding: 0 10px;
}
.uk-form-danger {
    &::placeholder {
        color: $primary;
    }
}
.uk-form-label {
    display: flex;
    position: relative;
    font-size: 16px;
    font-family: 'Sora-Medium';
    margin-bottom: 6px;
    color: $black;
}
.uk-navbar-nav {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    li {
        width: 100%;
    }
}
.uk-card-default {
    background: $light-grey;
}
.uk-navbar {
    height: calc(100% + 160px);
    max-height: 700px;
    margin-top: -160px;
    display: flex;
    position: relative;
    border-radius: 20px;
    padding: 10px;
    background: $light-grey;
    color: $text;
    flex-direction: column;

    .login-logo {
        padding: 20px;
    }
    ul {
        li {
            a {
                color: $text;
                font-weight: 600;
                min-height: 0;
                padding: 12px 20px;
                border-radius: 10px;
                justify-content: flex-start;
                position: relative;
                font-size: 16px;
                font-family: 'Sora-SemiBold', sans-serif;  
                letter-spacing: 0.15px; 

                span.circle-url {
                    width: 6px;
                    height: 6px;
                    border-radius: 50%;
                    background: #F7434E;
                    position: absolute;
                    left: 6px;
                    top: 21px;
                }
                span.material-symbols-outlined {
                    margin-right: 6px;
                    color: $primary;
                }
                &:hover {
                    background: #EEE9E3;
                }
            }
        }
    }
}
.uk-navbar-dropdown-nav {
    li {
        a {
            color: $text;
            font-weight: 600;
            min-height: 0;
            padding: 12px 20px;
            border-radius: 10px;
            font-size: 16px;
            font-family: 'Sora-SemiBold', sans-serif;  

            &:hover {
                background: #EEE9E3;
            }
        }
    }
}
.uk-navbar-dropdown {
    padding: 12px;
    width: 250px;
    border-radius: 20px;
}

// Header in logged section
header.header {
    height: 190px;
    display: flex;
    background: $primary;
}

// Boxes in homepage
section.boxes {
    .box-menu {
        padding: 30px;
        border-radius: 20px;
        background: $light-grey;

        a {
            margin-top: 30px;
        }
    }
    .box-projects-text,
    .box-users-text {
        font-size: 24px;
        font-family: 'Sora-Medium', sans-serif;
    }
    .box-projects-title,
    .box-users-title {
        font-size: 60px;
        font-family: 'Sora-Bold', sans-serif;
        line-height: 1;
    }
}
.box-projects-icon,
.box-icon,
.box-projects-title {
    color: $primary;
}
.box-users-icon,
.box-users-title {
    color: $additional;
}
.box-projects-icon,
.box-icon,
.box-users-icon {
    user-select: none;
    width: 70px;
    padding: 0;
    height: 70px;
    border-radius: 50%;
    background: $light-secondary;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;

    span {
        font-size: 30px;
    }
}
.box-icon {
    background: white;
}
footer.footer {
    font-size: 12px;
    padding-bottom: 20px;
}
.search-button {
    position: absolute;
    right: 5px;
    top: 3px;
}
.uk-select, .uk-select:not([multiple]):not([size]) {
    padding: 0 28px;
    height: 60px;
}
.middle-box {
    padding: 20px;
    background: white;
    border-radius: 20px;
}
.uk-card {
    border-radius: 20px;
    word-break: break-word;

    p {
        color: $primary;
    }
}
.uk-modal-body {
    border-radius: 20px;
}
.uk-modal-title {
    font-family: 'Sora-Medium', sans-serif;
}
.user-modal-email, .user-modal-id, .user-modal-date {
    font-family: 'Sora-Regular', sans-serif;
    margin: 0;
}
.user-modal-text {
    padding: 15px;
    border-radius: 10px;
    background: $light-secondary;
    margin: 0;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;

    span {
        margin-right: 10px;
        user-select: none;
        color: $primary;
    }
}
.uk-card-calendar {
    display: flex;
    flex-direction: row;
    align-items: center;
    span {
        font-size:1.5rem;
        user-select: none;
        color: $primary;
        margin-right: 5px;
    }
}
.lang-box {
    position: absolute;
    top: -75px;
}
.menu-box {
    display: none;
    visibility: hidden;
    position: absolute;
    top: -75px;
    right: 0;
    text-transform: uppercase;
}
.uk-card-icon {
    width: 76px;
    height: 76px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: white;
    margin-right: 15px;

    span {
        font-size: 36px;
        user-select: none;
        color: $primary;
    }
}
.uk-card-icon-box {
    &:nth-child(2) {
        margin-left: 40px;
    }
}
.uk-card-icon-text {
    h4 {
        line-height: 1;
        margin: 0;
        color: $primary;
    }
}
.uk-pagination {
    li {
        margin-right: 5px;

        a {
            padding: 10px 15px;
            border-radius: 10px;
            background: transparent;
            color: white;
            position: relative;
            z-index: 1;

            &:active {
                &:hover {
                    &:after {
                        transform: scale(0.96);
                    }
                }
            }
            &:after {
                content: '';
                background: $black;
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                border-radius: 10px;
                width: 100%;
                height: 100%;
                z-index: -1;
                transition: $animation;
            }
            &:hover {
                transition: $animation;
                &:after {
                    transform: scale(1.05);
                }
            }
        }
    }
}
@keyframes append-animate {
	from {
		transform: translateY(-10px);
		opacity: 0;
	}
	to {
		transform: translateY(0px);
		opacity: 1;	
	}
}

.uk-badge-item {
    padding: 10px 20px;
    background: $black;
    font-family: 'Sora-Medium', sans-serif;
    border-radius: 100px;
    display: flex;
    color: white;
    font-size: 12px;
    flex-direction: row;
    align-items: center;
    text-transform: uppercase;
    animation: append-animate $animation;

    span {
        margin-left: 5px;
        color: $secondary;

        &:hover {
            cursor: pointer;
        }
    }
}
.uk-badges-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.uk-placeholder {
    border-radius: 20px;
    padding: 30px 30px;
    background: 0 0;
    border: 2px dashed #ded9d3;
    font-family: 'Sora-Medium', sans-serif;
    transition: $animation;
    margin-bottom: 0;

    span.material-symbols-outlined {
        display: flex;
        align-items: center;
        justify-content: center;
        user-select: none;
        width: 70px;
        padding: 0;
        height: 70px;
        border-radius: 50%;
        background: $light-secondary;
        margin: 0px auto;
        margin-bottom: 20px;
    }
}
.uk-placeholder.active {
    background: #fff;
    border: 2px solid #fff;
    box-shadow: 0px 5px 10px #cac2b75c;
    transition: $animation;
}
.uk-link {
    color: $primary;

    &:hover {
        cursor: pointer
    }
}
.uk-progress {
    &::-webkit-progress-value { background: $primary }
}
.image-preview {
    max-height: 200px;
    width: 100%;
    overflow: hidden;
    object-fit: cover;
    border-radius: 10px;
    background: $secondary;
    padding: 10px;
}
.images-preview {
    display: none;
    margin-top: 20px;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.images-preview.active {
    display: grid;
}
.uk-sortable-placeholder {
    opacity: 0;
}
.uk-sortable-drag {
    opacity: 0.8;
}
.image-preview-box {
    position: relative;
    height: auto;
    display: flex;

    &:hover {
        cursor: grab;
        .image-preview-icon-container {
            background: #cac2b742;
        }
        span {
            opacity: 1;
        }
    }
    span {
        display: flex;
        width: 50px;
        height: 50px;
        opacity: 0;
        transition: $animation;
        background: $secondary;
        border-radius: 50%;
        color: $primary;
        justify-content: center;
        align-items: center;

        &:hover {
            cursor: pointer;
        }
    }
}
.image-preview-icon-container {
    transition: $animation;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.js-upload-error {
    border: 2px solid $primary;
}
.project-thumbnail {
    height: 230px;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 10px;
    
    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}
.spinner {
    margin-left: 8px;
    width: 22px;
    display: none;
    opacity: 0;
}
.spinner.show {
    display: flex;
    opacity: 1;
}
.uk-spinner>*>* {
    stroke-width: 2;
}
@media screen and (max-width: 960px) {
    .uk-navbar {
        height: 100%;
    }
    .uk-container {
        padding-left: 20px;
        padding-right: 20px;
    }
    .uk-grid {
        margin-left: -20px;
    }
    .uk-grid>* {
        padding-left: 20px;
    }
    section.boxes .box-projects-title, section.boxes .box-users-title {
        font-size: 40px;
    }
    section.boxes .box-projects-text, section.boxes .box-users-text {
        font-size: 20px;
    }
    .box-projects-icon, .box-icon, .box-users-icon {
        width: 60px;
        height: 60px;
    }
    .box-projects-icon span, .box-icon span, .box-users-icon span {
        font-size: 25px;
    }
    section.boxes .box-menu, .uk-card-box {
        padding: 20px;
    }
    .uk-button {
        padding: 15px 22px;
        font-size: 12px;
    }
    .uk-input, .uk-select, .uk-textarea {
        padding: 15px 22px;
    }
    .uk-select, .uk-select:not([multiple]):not([size]) {
        height: 54px;
        padding: 0 22px;
    }
    footer.footer {
        flex-direction: column;
        font-size: 1.5vw;
        text-align: center;
    }
    .uk-menu-text {
        display: none;
        opacity: 0;
        visibility: hidden;
    }
    .uk-navbar ul li a span.material-symbols-outlined {
        margin-right: 0;
    }
    .uk-navbar ul li a {
        justify-content: center;
    }
    .uk-navbar-dropdown ul li a {
        justify-content: flex-start;
    }
}
@media screen and (max-width: 425px) {
    h3 {
        font-size: 10vw;
    }
    .uk-modal-title {
        font-size: 7vw;
    }
}
@media screen and (max-width: 640px) {
    .menu-box {
        display: flex;
        visibility: visible;
    }
    .uk-card-box .uk-flex-wrap .uk-button,
    .uk-flex-wrap .uk-button {
        width: 100%;

        &:last-child {
            margin-top: 5px;
            margin-left: 0px !important;
        }
    }
    .uk-alert {
        padding: 5px;
        font-size: 12px;
    }
    .alert-icon {
        min-width: 40px;
        height: 40px;
        margin-right: 8px;
    }
    .material-symbols-outlined {
        font-size: 22px;
    }
    .uk-badge-item {
        padding: 8px 13px;
    }
    .uk-placeholder {
        padding: 20px 20px;
        font-size: 14px;
    }
    .uk-badges-container {
        gap: 5px;
    }
    .alert-tools + button {
        margin-left: 10px !important;
    }
    .images-preview {
        grid-template-columns: repeat(3, 1fr);
        gap: 5px;
        margin-top: 10px;
    }
    .image-preview {
        padding: 5px;
    }
    .uk-card-small .uk-card-body, .uk-card-small.uk-card-body, section.boxes .box-menu, .uk-card-box {
        padding: 15px 15px;
    }
    header.header {
        height: 120px;
    }
    .uk-modal-body {
        padding: 20px 20px;
    }
    .user-modal-text {
        padding: 10px;
    }
    .user-modal-title {
        font-size: 1.5rem;
        margin-bottom: 10px;
    }
    .user-modal-date, .user-modal-email, .user-modal-id  {
        font-size: 13px;
        font-family: 'Sora-SemiBold', sans-serif;
    }
    .uk-card-body>:last-child, .uk-card-footer>:last-child, .uk-card-header>:last-child {
        width: 100%;
        margin-top: 15px;

        a {
            width: 100%;
        }
        a:nth-child(2) {
            margin-top: 5px;
        }
    }
    .user-box {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        div:nth-child(2) {
            flex-direction: column;
        }
        h5 {
            font-size: 20px;
        }
        p {
            font-size: .775rem;
        }
    }
    .boxes > div:nth-child(2) {
        margin-top: 15px;
    }
    *+.uk-grid-margin, .uk-grid+.uk-grid, .uk-grid>.uk-grid-margin {
        margin-top: 15px;

        &:last-child {
            .uk-card {
                margin-bottom: 20px;
            }
        }
    }
    footer.footer, nav.uk-navbar {
        display: none;
        opacity: 0;
        visibility: hidden;
    }
}