
    <div class="container m-auto pt-7">
        <h1 class="text-8xl">Rezerwacje online</h1>

        <div class="mt-5">
            <a href="/profile/" class="focus:outline-none focus:ring focus:ring-gray-500 p-5 text-lg rounded bg-gray-700 flex hover:bg-gray-600">
                Profile
            </a>
    </div>
