
<div class="p-10 h-screen">
    <div class="bg-[url('/img/404.jpg')] flex flex-col items-center justify-center bg-cover p-7 h-full text-center rounded-xl">
        <h1 class="text-blue-50 text-8xl">404 - Nie znaleziono szukanej strony</h1>
        <a type="button" href="/" class="bg-violet-500 mt-5 hover:bg-violet-600 focus:outline-none focus:ring focus:ring-violet-300 active:bg-violet-700 px-5 py-2 text-sm leading-5 rounded-full font-semibold text-white">
            Strona główna
        </a>
    </div>
</div>

    
