
<div class="uk-container uk-container-small uk-margin-top">
    <div class="uk-card uk-card-default uk-card-body">
        <% if (typeof data !== "undefined") { %>
            <h1 class="uk-card-title"><%= data.name %></h1>
            <% if (details.mode === "details") { %>
                <p>Details: <%= data.email %></p>
            <% } else { %>
                <a href="/profile/<%- data.slug %>/details">
                    <div class="uk-button uk-button-primary">Szczegóły profilu</div>
                </a>
            <% } %>
        <% } else { %>
            <h1>No one</h1>
        <% } %>
    </div>
    <a href="/profiles">
        <button class="uk-button uk-button-primary uk-margin-top">
            Wszystkie profile
        </button>
    </a>
</div>



