<div class="uk-container uk-container-small uk-margin-top">
    <div class="uk-flex uk-flex-bottom block uk-margin-top">
        <label>
            <span class="uk-form-label">Szukaj uzytkownika</span>
            <!-- Using form state modifers, the classes can be identical for every input -->
            <input type="text" value="<%- query.q %>" placeholder="Wpisz szukaną frazę..." name="q" class="uk-input"/>
        </label>
        <button type="submit" class="uk-button uk-button-primary uk-margin-left">
            Szukaj
        </button>
    </div>
</div>